<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../styles/styles.css">

</head>
<body>
    <div class="goback">
        <a href="options.html">⬅</a>
    </div>


    <main class="profile-main">

        <div class="user-profile-image">
                <img src="../images/profile.jpg" alt="Imagem do perfil">
        </div>

        <div class="user-profile-data">
            <h1 class="user-profile-name"><strong>*Nome de Utilizador*</strong> </h1>
            <a href="profile_edit.html">Editar Perfil</a>
        </div>

        <div class="user-profile-contact">
            <p>e-mail</p>
            <p>Nº Telefone</p>
        </div>
        <div class="user-profile-contact">
            <p>Endereço</p>
        </div>
        <div class="help-center">
            <a href="mailto:help.center@gmail.com">
                <span class="help-center-icon">✉️</span>
                <span>Mensagem de suporte</span>
            </a>
        </div>
    </main>


</body>
</html>