<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação - Desativar Conta</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <div class="confirm-deactivate-container">
        <div class="confirm-box">
            <h2>Tem certeza que sair da conta?</h2>

            <div class="confirm-actions">
                <button class="btn-confirm-no" onclick="window.location.href='options.html'">Não</button>
                <button class="btn-confirm-yes" onclick="window.location.href='login.html'">Sim</button>
            </div>
        </div>
    </div>

</body>
</html>
