<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../styles/styles.css">

</head>
<body>
    <div class="goback">
        <a href="options.html">⬅</a>
    </div>


    <main class="profile-main">

        <div class="user-profile-image">
                <img src="../images/profile.jpg" alt="Imagem do perfil">
        </div>

        <div class="user-profile-data">
            <h1 class="user-profile-name"><strong>*Nome de Utilizador*</strong> </h1>
            <a href="profile_edit.html">Editar Perfil</a>
            <div style="margin-top:10px;"><a href="options.html">Ver Opções</a></div>
        </div>

        <!-- profile script -->
        <script src="../scripts/api-config.js"></script>
        <script src="../scripts/profile.js"></script>

        <div class="user-profile-contact">
            <p><strong>E-mail:</strong> <span id="user-email"></span></p>
            <p><strong>Nº Telefone:</strong> <span id="user-telefone"></span></p>
        </div>
        <div class="user-profile-contact">
            <p><strong>Endereço:</strong> <span id="user-morada"></span></p>
        </div>
        <div class="help-center">
            <a href="mailto:help.center@gmail.com">
                <span class="help-center-icon">✉️</span>
                <span>Mensagem de suporte</span>
            </a>
        </div>
    </main>


</body>
</html>